{
    "environment": "",
    "appCORSUrl": "",
    "appPort": 0,
    "redisHost": "",
    "redisPort": 6379,
    "redisTLS": true,
    "redisPassword": "password",
    "sslBaseDir": "",
    "chainFileName": "",
    "keyFileName": "",
    "certFileName": "",
    "retryTimeout": 500,
    "jwtSecret": "", 
    "listenChannel": "dev",
    "db": {
        "host": "localhost",
        "port": 5432,
        "name": "dockabl",
        "user": "dockabl",
        "password": "dockabl@123",
        "maxPoolSize": 5,
        "logging": false,
        "ssl": false
    }
}